body {
    background-color:  	#3CB371;
}

h1 {
    color:  #FFEBCD;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

#cancel {
    text-align: center;
    background-color:#F0FFFF
}

#return {
    text-align: center;
    background-color :#F0FFFF
}
